<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"></head>
<body>
<div class="container">
    <div>
        <h1 th:onclick="'location.href=\''+ @{${"/home"}} + '\''">SHELF-ER</h1>
        <p>회원가입</p>
        <form action="/insert" method="GET">
            <input name="insertname" type="text" placeholder="사용할 아이디를 입력하세요."/>
            <br>
            <input name="insertpw" type="password" placeholder="사용할 비밀번호를 입력하세요"/>
            <br>
            <input name="insert" type="submit" value="회원가입" onclick="insertcomplete()"/>
        </form>
    </div>
</div> <!-- /container -->
</body>
<script>
    function insertcomplete() {
        alert("회원가입이 완료되었습니다.")
    }
</script>
</html>