<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"></head>
<body>
<div class="container">
    <div>
        <h1 th:onclick="'location.href=\''+ @{${"/home"}} + '\''">SHELF-ER</h1>
<!--        <h1 th:onclick="'location.href=\''+ @{${"/login"}} + '\''">LOGIN</h1>-->
        <p>회원 기능</p>
        <p>
            <a href="/users/new">회 원 추 가</a>
            <a href="/users">회 원 목 록</a>
            <a href="/users/donateBook">기 부 내 역</a>
<!--            <a href="http://localhost:3000/donate">도 서 기 부</a>-->
            <a href="/main">사용자 화면</a>

        </p>
    </div>
</div> <!-- /container -->
</body>
</html>